<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>But2</title>
        <link rel="icon" type="image/png" href="../../_assets/images/favicon.png">
        <link rel="stylesheet" href="../../_assets/styles/But2Style.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <img id="image_BUT2" src="../../_assets/images/BUT2_dmi.png" onclick="returnToInitialState()">
        <img id="image_GA1" src="../../_assets/images/B2GA1.png">
        <a href="emploiDuTemps.php?codeADE=8398">
            <img id="image_GB" src="../../_assets/images/B2GB.png">
        </a>
        <img id="image_GA2" src="../../_assets/images/B2GA2.png">
        <a  href="Home.html" >
            <img id="return" src="../../_assets/images/return.png">
        </a>
        <script src="../../_assets/scripts/loadTimetable.js"></script>


    </body>
</html>